{% extends 'base.html.twig' %}


{% block title %}List of albums{% endblock %}

{% block body %}
<h3>List of albums</h3>
<a id="new-album" class="btn btn-outline-primary" href={{ path('new_album')}}>Add Album</a>
<hr>

<div class="row">
  {% for album in albums %}
    <div class="col-3">
      <div class="card">
          <div class="card-header">
            {{album.title}}
          </div>

          <div class="card-body">
            <p class="card-text">
              On the {{album.getPublishedAt|date("F jS")}} we published "{{album.title}}" with contributions by:
            </p>

            <ol class="">
              {% for contribution in album.getContributions %}
                <li>
                {{contribution.getArtist.getTitle}}
                <span class="badge badge-light">Fee: ${{contribution.getFee()|number_format(2, '.', ',') }}</span>
                <a id="delete-artist-{{contribution.id}}" style="color:#dc3545"  class="btn-sm" href={{ path('delete_artist', {'contributionid' : contribution.id}) }}>Delete</a><hr>
                </li>
              {% endfor %}
            </ol>

            <a id="delete-album-{{album.id}}" class="btn btn-outline-danger btn-sm" href={{ path('delete_album', {'id' : album.id}) }}>Delete</a>
            <a id="add-artist-{{album.id}}" class="btn btn-outline-primary btn-sm add-artist" href={{ path('add_artist', {'albumid' : album.id}) }}>add artist</a>
          </div>
      </div>
    </div>
  {% endfor %}
</div>

{% endblock %}
