
<a id="add-album" href={{ path('add_album')}}>Add Album</a>
<ul>
  {% for album in albums %}
    <li>
      <a id="delete-album-{{album.id}}" class="album" href={{ path('delete_album', {'id' : album.id}) }}>Delete</a>
      <a id="assign-artist-{{album.id}}" class="assign-artist" href={{ path('assign_artist', {'albumid' : album.id}) }}>Assign artist</a>
      On the {{album.getPublishedAt|date("F jS")}} we published "{{album.title}}", with contributions by:

      <ol>
        {% for artist in album.getArtists %}
          <li>
            <a id="delete-artist-{{album.id}}-{{artist.id}}" class="artist" href={{ path('delete_artist', {'id' : artist.id, 'albumid' : album.id}) }}>Delete</a>
            {{artist.getName}}, {{artist.getSpeciality}}
          </li>
        {% endfor %}
      </ol>
    </li>
  {% endfor %}
</ul>
